@media all and (max-width: 1200px) and (min-width: 768px) {}

@media (min-width: 560px) {}

@media (min-width: 768px) {}

@media (min-width: 991px) {
    .hidden-lg {
        display: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 1440px) {}

@media (max-width: 1440px) and (min-width: 991px) {}

@media (max-width: 1340px) {}

@media (max-width: 1200px) {
    .logo img {
        width: 192px;
    }
    .logo .t {
        font-size: 10px;
        letter-spacing: .8px;
    }
    .main-nav {
        font-size: 15px;
    }
    .main-nav li {
        margin: 0 8px;
    }
    .reg-links {
        font-size: 15px;
    }
    .soc-list a {
        width: 25px;
        height: 25px;
    }
    .soc-list svg {
        width: 14px;
        height: 14px;
    }
    .header-text {
        font-size: 17px;
    }
    .list-rev .name {
        font-size: 14px;
    }
    .more-info .text-wrap:before {
        left: 5px;
        top: -3px;
        background-size: 100%;
        width: 40px;
    }
    .list-res .btn-def{
        width: 160px;
    }
}

@media (max-width: 1140px) {}

@media all and (max-width: 1300px) and (min-width: 1200px) {}